.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3px;
    background-color: rgb(194, 137, 109);
    height: 200px;
    width:200px;
    margin: 2rem;
    gap: 10px;
    border-radius: 10px;
}
.card>h1{
    font-size: 20px;

}
.card>img{
    width: 80px;
    height: 80px;
    object-fit: contain;
}